*{
    box-sizing: border-box;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.ss{
    width: 40px;
    height: 50px;
    margin: 0 auto;
    display: inline-block;
}
.ss{
    display: inline-block;
    margin-left: 550px;
}
.ass{
    display: inline-block;
}
.ads{
    display: inline-block;
}
.asd{
    display: inline-block;
}
.text{
    margin-left: 250px;
}
.uz{
    background-color: rgb(96, 93, 93);
    width: 100px;
    height: 30px;
    border-radius: 10px;
}
.uzb{
    margin-left: 250px;
}
.h1{
    margin-left: 200px;
}
.d{
    color: black;
    display: inline-block;
}
.adidas{
    width: 200px;
    display: inline-block;
}
.lorem{
    display: inline-block;
    background-color: rgb(96, 93, 93);
    opacity: 80%;
    width: 600px;
    height: 200px;
    align-items: start;
}
.lirem{
    width: 120px;
    display: inline-block;
    margin-left: 100px;
}
.lerem{
    width: 120px;
    display: inline-block;
    margin-left: 20px;
}
.larem{
    width: 120px;
    display: inline-block;
    margin-left: 20px;
}
.qw{
    display: flex;
    background-color: rgb(96, 93, 93);
    opacity: 80%;
    width: 600px;
    height: 200px;
    margin-top: 40px;
    justify-content: center;
}
.pw{
    width: 150px;
    display: flex;
    justify-content: center;
    margin-left: 40px;
    margin-top: 70px; 
}
.b{
    color: black;
    display: flex;
    margin-left: 700px;
}
.p{
    display: flex;
    width: 200px;
    margin-left: 700px;
}
.salom{
    margin-top: 10px;  
}
.l{
    width: 100px;
    display: inline-block;
    margin-left: 100px;
    /* padding: 9px */
}
.e{
    width: 100px;
    display: inline-block;
    margin-left: 20px;
}
.a{
    width: 100px;
    display: inline-block;
    margin-left: 20px;
}
.divv{
    display: flex;
    margin-left: 200px;
}
.img{
    width: 80px;
    height: 80px;
    margin: 10px;
}
.ad{
    margin-left: 150px;
}